/* BLOCK */

.block {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
}
.block > div {
  min-width: 0;
}
.block:hover {
  background-color: #f9f9f9;
}
.block h3, .block p, .block a {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  overflow-wrap: break-word;
}
.block a {
  font-size: 0.8rem;
  overflow-wrap: anywhere;
}
.block-content {
  flex: 1;
}
.block-actions {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.block-actions > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: .8rem;
  font-size: .8rem;
}
.block-actions button {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background: white;
  cursor: pointer;
}

/* FORM */

.block-form {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
}
.block-form > div {
  display: flex;
  flex-direction: column;
}
.block-form > div:not(:last-child) {
  margin-bottom: 0.7rem;
}
.block-form label {
  font-size: 0.7rem;
  font-weight: bold;
}
.block-form input[type="text"], .block-form textarea {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.block-form input[type="submit"] {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
